Pillow
bash_kernel
beautifulsoup4
devtools
graphviz
lightgbm
matplotlib
mlxtend
numpy
opencv-python
pandas
pandas_profiling
plotly
pycaret
pydeps
requests
scikit-learn
scipy
seaborn
shap
umap
xgboost
